[alias]
	co = checkout
	ci = commit
	s = status
	b = branch
	a = add
	d = diff
	l = log

[core]
	excludesfile = ~/dnsl48cfg/git/ignore
	editor = mg -n

[user]
	name = Serge Latyntcev
	email = dnsl48@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
