[alias]
	co = checkout
	ci = commit
	s = status
	b = branch
	a = add
	d = diff
	l = log
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"

[core]
	excludesfile = ~/dnsl48cfg/git/ignore
	editor = mg -n

[user]
	name = Serge Latyntcev
	email = dnsl48@gmail.com
[pull]
	ff = only
[init]
	defaultBranch = main
